<div class="container">	
	<div class="row tienda__volver tipo--{{item.lista_tipo}}">
		<div class="col-md-12">
			Sobre la App
			<a href="#home" class="tienda__volver__flecha"><img src="img/icon-arrow-left.png" alt=""/></a>			
		</div>
	</div>
	
	
	<div class="row">
		<img src="img/about.png" class="img-responsive" alt="About superchinos"/>
	</div>
	
	
	
	<div class="row">
		<div class="col-md-12">
			<h2 class="roja titulo__about">Lista Roja <img src="img/marker-rojo.png"/> <img src="img/icon-roja.png" class="right" alt="icon roja"/></h2>
			Aqui debe ir la descripción en la que explica que es lo que implica estar o no en esta lista, a que se debe y todo lo referido a este tema para que el usuario de la App entienda perfectamente el sistema de la misma.
		</div>
	</div><!--row-->
	<br/>
	<div class="row">
		<div class="col-md-12">
			<h2 class="negra titulo__about">Lista Negra <img src="img/marker-negro.png"/> <img src="img/icon-negra.png" class="right" alt="icon negra"/></h2>
			Aqui debe ir la descripción en la que explica que es lo que implica estar o no en esta lista, a que se debe y todo lo referido a este tema para que el usuario de la App entienda perfectamente el sistema de la misma.
		</div>
	</div><!--row-->
	<br/>
	<br/>

	
	
	<div class="row">
		<div class="col-md-12">
		<a class="icon__share col-xs-3" href="https://www.facebook.com/sharer/sharer.php?u=www.superchinos.com.ar">
			<i class="fa fa-facebook"></i>
		</a>
		<a class="icon__share col-xs-3" href="https://twitter.com/home?status=Superchinos www.superchinos.com.ar">
			<i class="fa fa-twitter"></i>
		</a>
		<a class="icon__share col-xs-3" href="mailto:?&subject=Superchinos&body=Superchinos www.superchinos.com.ar">
			<i class="fa fa-envelope"></i>
		</a>
		<a class="icon__share col-xs-3" href="https://plus.google.com/share?url=www.superchinos.com.ar">
			<i class="fa fa-google-plus"></i>
		</a>
		</div>
	</div><!--row-->
	<br/>
	<br/>
	<br/>
</div>
