<div class="container">	
	<div class="row tienda__volver tipo--{{item.lista_tipo}}">
		<div class="col-md-12">
			Sobre la App
			<a href="#home" class="tienda__volver__flecha"><img src="img/icon-arrow-left.png" alt=""/></a>			
		</div>
	</div>
	
	
	<div class="row">
		<img src="img/about.png" class="img-responsive" alt="About superchinos"/>
	</div>
	
	
	<div class="row">
		<div class="col-md-12">
			<h2 class="negra titulo__about">Lista Negra <img src="img/marker-negro.png"/> <img src="img/icon-negra.png" class="right" alt="icon negra"/></h2>
			Una buena forma de identificar todos aquellos supermercados que no
cumplen con los requisitos mínimos de salubridad e higiene.
		</div>
	</div><!--row-->
	<br/>
	<div class="row">
		<div class="col-md-12">
			<h2 class="roja titulo__about">Lista Roja <img src="img/marker-rojo.png"/> <img src="img/icon-roja.png" class="right" alt="icon roja"/></h2>
			Importante también es identificar aquellos que cumplen con todo y
ofrecen servicios adicionales a los vecinos del barrio.

		</div>
	</div><!--row-->
	<br/>
	
	<div class="row">
		<div class="col-md-12">
			<h2 class="verde titulo__about">Lista Verde <img src="img/marker-verde.png"/> <img src="img/icon-chino-verde.png" class="right" alt="icon verde"/></h2>
			En los dragones de color verde encontrarás restaurantes chinos. Pueden ser de venta al peso o tenedores libres.
		</div>
	</div><!--row-->
	<br/>
	<br/>

	
	
	<div class="row">
		<div class="col-md-12">
			<h2 class="titulo__about">Seguinos en Facebook y Twitter</h2>
			<p>
				<a href="https://twitter.com/superchinosapp">
					<img src="img/twitter.png" alt="twitter"/>
				</a>
				<a href="https://www.facebook.com/Superchinos-570081486501804/?fref=ts">
					<img src="img/facebook.png" alt="facebook"/>
				</a>
			</p>
		</div>
	</div><!--row-->
	<br/>
	<br/>
	<br/>
</div>
