			<div ng-tabs class="tabbable">
				<ul class="nav nav-tabs" ng-if="item.lista_tipo!='negro'">
					<li ng-tab-head="active">
						<a href="#" ng-click="$event.preventDefault()">INFORMACIÓN</a>
					</li>
					<li ng-tab-head>
						<a href="#" ng-click="$event.preventDefault()">COMENTARIOS</a>
					</li>                
				</ul>				
				<div class="tab-content" style="overflow: hidden">
					
					
					
					<div ng-tab-body="animated bounceInLeft" class="tab-pane">
						<ul class="tienda__informacion">
							<li>
								<div class="ico-tab"><img src="img/ico-precio.png" alt=""/></div>
								<div class="ico-check"><img src="img/ico-check.png" alt=""/></div>
								<div class="cnt-tab">
									<h4>PRECIOS CUIDADOS:</h4>
									{{item.pcuidados}}
								</div>
							</li>							
							<li ng-if="item.delivery">
								<div class="ico-tab"><img src="img/ico-delivery.png" alt=""/></div>
								<div class="ico-check"><img src="img/ico-check.png" alt=""/></div>
								<div class="cnt-tab">
									<h4>DELIVERY:</h4>
									{{item.delivery}}
								</div>
							</li>			
							<li ng-if="item.mpago">
								<div class="ico-tab"><img src="img/ico-pago.png" alt=""/></div>
								<div class="ico-check"><img src="img/ico-check.png" alt=""/></div>
								<div class="cnt-tab">
									<h4>MEDIOS DE PAGO:</h4>
									{{item.mpago}}
								</div>
							</li>	
							<li ng-if="item.serv">
								<div class="ico-tab"><img src="img/ico-servicios.png" alt=""/></div>
								<div class="ico-check"><img src="img/ico-check.png" alt=""/></div>
								<div class="cnt-tab">
									<h4>OTROS SERVICIOS OFRECIDOS:</h4>
									 <div ng-bind-html="item.serv | nl2br"></div>
								</div>
							</li>	
						</ul>
					</div><!--tab-->
					
					<div ng-tab-body="animated fadeInUpBig" class="tab-pane" >
						<div class="row tienda__rank--totalw" >
							<div class="col-xs-7">
								<div class="tienda__rank--total">
									<i class="fa fa-star fa-star-marcado"  data-ng-repeat="n in [1,rank] | makeRange"></i>
									<i class="fa fa-star"  data-ng-repeat="n in [1,5-rank] | makeRange"></i>									
								</div>								
							</div>
							<div class="col-xs-5 align-right">
								{{item.nro_comentarios}} 
								<span ng-if="item.nro_comentarios>1">votos</span><span ng-if="item.nro_comentarios<=1">voto</span>
							</div>
						</div>
						
						<div class="row tienda__comentarios">
							<div class="col-md-12">
								<div class="tienda__comentario row" data-ng-repeat="comentario in comentarios">
									<div class="col-xs-3">
										<div class="tienda__comentario__avatar">
											<img src="img/icon-user.jpg" alt=""/>
										</div>
									</div>
									<div class="col-xs-9">
									<div class="tienda__comentario__author">
										{{comentario.comment_author}}
									</div>
									<div class="tienda__comentario__fecha">
										{{comentario.comment_date}}
									</div>
									<div class="tienda__comentario__rating">								
										<i class="fa fa-star fa-star-marcado"  data-ng-repeat="n in [1,comentario.comment_rating] | makeRange"></i>
										<i class="fa fa-star"  data-ng-repeat="n in [1,5-comentario.comment_rating] | makeRange"></i>
									</div>
									<div class="tienda__comentario__content">
										{{comentario.comment_content}}
									</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row tienda__comentarios__form">
							<div class="col-md-12">
								<div ng-include="'templates/comentarios.html'" ></div>
							</div>
						</div>
					</div><!--tab-->
				</div>
			</div><!--tabbable-->		