body {
	overflow: auto;
	/* position:relative; */
	font-family: 'Lato', sans-serif;
	font-weight:400;
	 -webkit-overflow-scrolling: touch;
     
}
body.home {
	overflow:hidden;
}
body.tienda .app-content { padding-bottom:60px; }
body.login, body.registro { background-image:url(../img/login_bg.png); background-repeat:no-repeat; background-position:bottom center; background-size:100% auto; background-color:#ee1b2f; }

.container {
	max-width:900px;
}

header {
	background-color:#ed1c2f;
	color:#FFF;
	padding-top:12px;
	height:51px;
}
footer {
	background-color:#ed1c2f;
	color:#FFF;
	padding-top:10px;
	height:35px;
}
main {
    min-height:300px;;
}
body.home .myApp, body.home .container.ng-scope, body.home .container.ng-scope .row {
	height:100%;
}
.scrollable-content{padding:51px 0 0 0	;}
/***************************
  NavBar
******************************/
.navbar-app { background-color:#ed1c2f; border:none; }
.navbar-toggle .icon-bar { background-color:#FFF; }  
.navbar-toggle { padding: 9px 5px; margin-top: 5px; }

body .sidebar-left { display:none !important;  background-color:#ed1c2e; width:100%; }
body.sidebar-left-in .sidebar-left { display:block !important;     z-index: 1010; }
.sidebar-left .list-group-item {   background-color:#ed1c2e; color:#FFF; padding: 20px 15px; text-transform:uppercase; }

.list-group { 
    padding-top: 50px;
}

.retina-logo { display:none; }

.navbar-toggle .icon-bar {  border-radius:0px; height:3px; }

a#logo img { max-height:20px; }
.btn-group.pull-right { 
	margin-right: 8px;
	padding: 9px 10px;
	margin-top: 3px;
	margin-bottom: 8px;
}
.btn-group.pull-right img { width:20px; }

nav.navbar-absolute-bottom {	
	background-color:transparent;	
	position:fixed;
}
body.tienda nav.navbar-absolute-bottom, body.about nav.navbar-absolute-bottom {
	position:relative;
}
.navbar-brand-center {
	/* position:relative !important; */
}
body.home .navbar__adorno {
	height:120px;
	background-repeat:no-repeat;
	background-image:url(../img/footer_bg.png);
	background-position:bottom center;
	background-size:auto 100%;
}
.header__buscar {
	width:17px;
	height:18px;
	background-repeat:no-repeat;
	background-size:100%;
	background-image:url(../img/icon-lupa.png);
	display:blocK;
	overflow:hidden;
	text-indent:-10000px;
	margin-top:4px;
	cursor:pointer;
}
.sidebar-right {
	z-index:1000;
	padding:5px 20px;
	padding-top:60px;	
	width:100%;
	height:95px;
	text-align:center;
	background-color:#d11324;
	display:none !important;
}
	body.sidebar-right-in .sidebar-right {
		display:block !important;
	}
	.sidebar-right input.buscador__text {
		border: medium none;
		line-height: 20px;
		font-size: 18px;
		padding: 4px;
	}
	.header__buscador button.btn-danger {
		padding: 4px;
		vertical-align: top;
		font-size:14px;
	}

/***************************
  Map
******************************/
.mapWrapper, .map {
	height:100% !important;
	z-index:-1;
}
.gpslocator { position:absolute; z-index:1005; bottom:80px; right:20px; }
.gpslocator img{ width:70px; height:auto; }

/********************************
  Tienda
*********************************/
.tienda__volver {
	background-color:#FFF;	
	padding-top:16px;
	padding-bottom:16px;
	font-size:15px;
}
.tipo--rojo {
		color:#ed1c2e;
}
a.tienda__volver__flecha { width:16px; display:block; float:right; }

.tienda__datosw { padding-top:12px; padding-bottom:5px; }
h2.tienda__datos { font-size:16px; font-weight:bold; margin-bottom:5px; }
h3.tienda__datos { font-size:12px; font-weight:bold; color:#ed1c2e; margin-bottom:2px; }

a.icon__share { color:#FFF; font-size:32px; background-color:#ed1c2e; border-right:1px solid #FFF; display:block; text-align:center; height:70px; vertical-align:middle; line-height:70px; }

a.icon__share.icon__share--negro { background-color:#000; }
a.icon__share.icon__share--verde { background-color:#43b44f; }

.tabWrapper { padding:20px 0px; }

.tienda__informacion {
	padding:0px;
	margin:0px;
	list-style:none;
	padding-bottom:40px;
}
.tienda__informacion li { clear:both; overflow:hidden; padding:12px 0px;  }
.ico-tab { width:50px; float:left; text-align:center; }
.ico-tab img { width:40px; }
.ico-check { width:25px; float:left;  text-align:center; }
.ico-check img { width:16px; }
.cnt-tab { float:left; line-height:14px; font-size:13px;  }
.cnt-tab h4 { color:#ed1c2e; font-size:12px; font-weight:bold; margin-bottom:1px; }

.tienda__informacion li:nth-child(odd) {
   background-color: #f3f3f3;
}
.tienda__rank--total .fa-star { font-size:25px; color:#f0f0f0; margin-right:2px; }
.tienda__rank--total .fa-star-marcado { color:#fcc216; }
.tienda__rank--totalw { padding-top:20px; padding-bottom:20px; }

.tienda__comentario__rating { font-size:18px; color:#f0f0f0; margin-right:2px; }
.tienda__comentario__rating .fa-star-marcado { color:#fcc216; }


.tienda__comentarios__form p { color:#ed1c2e; font-style:italic; }
.tienda__comentarios__form p.tipo--negro { color:#000; }

textarea.textarea { background-color:#f0f0f0; padding:10px 20px;  border:none; width:100%; }

.tienda__comentario { padding-bottom:20px; }
.tienda__comentarios__form a.btn-primary { background-color:#ed1c2e; color:#FFF; border-radius:0px; width:100%; padding:15px 10px; border:none; }
.tienda__comentario__avatar { width:50px; height:50px; border-radius:50%; overflow:hidden; margin:0px auto; }
.tienda__comentario__author {  color:#777777;font-size:17px; font-weight:bold; }
.tienda__comentario__fecha { font-size:12px; margin-bottom:12px; color:#777777; }

.rankingBox {
	direction: rtl;
}
.rankingBox input[type="radio"] {
	display: none;
}
.rankingBox input[type="radio"]:checked ~ label {    
	color:#fcc216;
}
.rankingBox label {
	font-size: 25px;
	color: #F0F0F0;
	margin-right: 2px;
	cursor: pointer;
}
.rankingBox label:hover {
	color:#fcc216;
}


/**********************************
   About
***********************************/
h2.titulo__about {
	font-size:17px;
	font-weight:bold;
	clear:both;
	overflow:hidden;
	line-height:65px;
	padding-top:11px;
}
h2.titulo__about.roja {
	color:#ed1c2e;
}
h2.titulo__about.verde {
	color:#00b545;
}
h2.titulo__about img{ max-width:65px; }

/************************************
   Tabs
*************************************/
.nav-tabs > li {
	width: 50%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
	border-radius:0px;
}   
.nav-tabs > li > a {  margin:0px; border-radius:0px; background-color:#d9d9d9; color:#555; font-size:11px; text-align:center; font-weight:bold; padding:15px 10px; }


.location { position:fixed; width:100%; height:100%; background-color:#ed1c2e; background-image:url(../img/location.png); background-repeat:no-repeat; background-position: top center; background-size:cover; z-index:99999; top:0px; }

/**********************************
   Login / Registro
***********************************/
body.login h2, body.registro h2 {
	text-align:center;
	font-size:16px;
	color:#FFF;
}
.formWrapper { padding-top:1px; }
.form-control { font-size:16px; }
p.error { color:#FFF; }
p.estaregistrado, p.estaregistrado a { color:#FFF; font-size:17px; text-align:center; }


/**************************************
  MISC
***************************************/  
			.tienda__slide .bz-slider {                
                height: 180px;
                overflow: hidden;
                background-color: #FFF;                
            }
            .tienda__slide .bz-slide {                
                height: 180px;
            }
			.home__slide .bz-slide {                
                height: 56px;
            }
			.home__slide .bz-slider {                
                height: 56px;
                overflow: hidden;
                background-color: #FFF;                
            }
            .controls {
                position: absolute;
                bottom: 0;
                z-index: 2;
            }
			

.ng-hide, [ng-cloak] {
    display: none !important;
}

.ng-show {
    display: block !important;
}			

.align-left { text-align:left; }
.align-center { text-align:center; }
.align-right { text-align:right; }

img.left { float:left; }
img.right { float:right; }
img.center { margin:auto; }

.rojo { color: #ed1c2e !important;  }


.overlay {
	width:100%;
	/*
    height:calc(100% - 100px);
	top:51px;
	*/
	height:100%;
	top:0px;
	position:fixed;
	background-color:rgba(0,0,0,0.5);
	z-index:9999;	
	text-align:right;
    padding-top:50px;
}
	.overlay img{
		display:block;
		max-width:90%;
		margin:auto;
	}
	.overlay a.cerrar {
		display:inline-block;
		background-color:#000;
		color:#FFF;
		font-size:28px;
		line-height:20px;
		text-align:center;
		width:30px;
		height:30px;
		padding:3px;
		margin-bottom:5px;
		margin-right:10px;
		margin-top:15px;
	}


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .header__buscar {		
		background-image:url(../img/icon-lupa@2x.png);
	}
	.default-logo { display:none; }
	.retina-logo { display:inherit; }
	.gpslocator {
		bottom:60px;
	}
}



